allow installd radio_data_file:lnk_file create;
allow installd app_data_file:file {create open read write setattr getattr};
allow installd platform_app_data_file:file {create open read write setattr getattr};
